body {
  background-color: #f9f9f9;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  margin-top: 1rem;
}
