body {
    background-color: #E5D1E5;
  }
  
  .container {
    background-color: #F3F3F3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  img {
    max-width: 100%;
    margin-top: 1rem;
  }
  
  .display-4,
  .form-group label {
    font-size: 2rem;
  }
  
  .form-group label,
  .font-weight-bold {
    font-weight: bold;
  }
  
  .gender-btn {
    border-radius: 30px;
    font-size: 1.5rem;
    background-color: #B6D9B6;
    color: #4B6E4B;
    margin-right: 1rem;
    box-shadow: none;
  }
  
  .gender-btn.active {
    background-color: #96C596;
    color: #2C462C;
  }
  
  .font-weight-bold.display-4 {
    font-size: 2.5rem;
    margin-right: 1rem;
    color: #4B6E4B;
  }
  
  .btn-group {
    margin-bottom: 1rem;
  }
  
  .bubble-select {
    width: 200px;
    height: 3rem;
    border-radius: 50px;
    background-color: #D9EDD9;
    border: none;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #4B6E4B;
  }
  
  .bubble-select:focus {
    outline: none;
    box-shadow: 0 0 6px rgba(81, 203, 238, 0.5);
  }
  
  .bubble-select option {
    color: #000;
  }
  
  .bubble-select-arrow {
    position: absolute;
    top: 25%;
    right: 10px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #D9EDD9 transparent transparent transparent;
  }
  